// -----------------------------------------------------------------------------
// This file contains all styles related to the icon cover component.
// -----------------------------------------------------------------------------

@use '../abstracts/variables' as variables;

.icon-cover {
  background-color: variables.$brand-color;
  border-radius: 50%;
  width: 40px;
  height: 40px;

  &::before {
    left: 8px;
    top: 11px;
    position: relative;
  }
}

.icon-cover-small {
  &::before {
    left: 13px;
  }
}