@use '../abstracts/variables' as *;

// -----------------------------------------------------------------------------
// This file contains navigation styles.
// -----------------------------------------------------------------------------
.navigation {
  width: 100vw;
  background-color: $secondary-color;
  display: inline-grid;
  justify-items: end;
  padding: 0 2em;
}

.navigation-items {
  display: inline-grid;
  grid-template-columns: 1.5fr 1.5fr 1fr;
  list-style: none;
}

.navigation-item {
  list-style-type: none;
  //a {
  //  color: $light-grey;
  //}
  position: relative;

  &:hover > .navigation-sub {
    display: block;
  }
}

.navigation-sub {
  display: none;
  position: absolute;
  left: 0;
  top: 1em;
  padding: 0;
  margin-top: 10px;
  font-size: 17px;
  li {
    margin: 2px 0;
  }
}
