// -----------------------------------------------------------------------------
// This file contains navigation styles.
// -----------------------------------------------------------------------------

@use '../abstracts/variables' as variables;
@use '../abstracts/mixins' as mixins;

.navigation {
  width: 100vw;
  background-color: variables.$secondary-color;
  display: inline-grid;
  justify-items: end;
  padding: 0 2em;

  @include mixins.respond-to('medium') {
    padding: 0;
  }
}

.navigation-items {
  display: inline-grid;
  grid-template-columns: 1.5fr 140px 1fr;
  list-style: none;

  @include mixins.respond-to('medium') {
    width: 100%;
    font-size: 20px;
    grid-template-columns: repeat(3, 31%);
  }
}

.navigation-item {
  list-style-type: none;
  position: relative;

  &:hover > .navigation-sub {
    display: block;
  }
}

.navigation-icon {
  display: inline;
}

.navigation-sub {
  display: none;
  position: absolute;
  left: 0;
  top: 1em;
  padding: 0;
  margin-top: 10px;
  font-size: 17px;
  li {
    margin: 2px 0;
  }
}
