@use '../abstracts/variables' as *;
@use '../base/helpers';
@use '../layout/grid';

// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.home-intro {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background-color: $dark-grey;
  min-height: 100vh;
  color: $light-grey;
  align-items: center;
}

.home-title {
  text-align: center;
  margin: 0;
  height: 120px;
  padding-top: 30px;

  &::after {
    background: $brand-color;
    width: 100px;
    height: 0.1em;
    content: '';
    display: block;
    margin: 0 auto;
  }
}

.home-introTitle {
  grid-column: 3 / span 2;
}

.home-introProfile {
  border-radius: 50%;
  width: 400px;
}

.home-work {
  background-color: $light-grey;
  padding-bottom: 50px;
}

.home-workEntry {
  width: 100%;
  display: inline-grid;
  gap: 20px;
  align-items: center;
  margin: 20px 0;
}

.home-workEntryRole {
  color: $mid-grey;
}

.home-workEntry-alpha {
  @extend .home-workEntry;
  grid-template-columns: [image] 300px [description] auto;
}

.home-workEntry-beta {
  @extend .home-workEntry;
  grid-template-columns: [description] auto [image] 300px;
  justify-items: end;
  text-align: right;
}

.home-workEntryImage {
  grid-area: image;
  img {
    width: 300px;
  }
}

.home-workEntryDescription {
  grid-area: description;
}

.home-skills {
  margin-bottom: 100px;
}

.home-skillEntryTitle {
  display: inline-grid;
  grid-template-columns: 50px auto;
  align-items: center;
}

.home-skillEntries {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.home-skillEntry {
  border: 1px solid $mid-grey;
  padding: 5px 15px 25px;
}