// -----------------------------------------------------------------------------
// This file contains styles that are specific to the work pages.
// -----------------------------------------------------------------------------

@use '../abstracts/variables' as variables;
@use '../abstracts/mixins' as mixins;

.work-intro {
  display: grid;
  grid-template: [padding] 15% [title] 60px [description] 100px [poster] auto [padding] 15% / auto;
  background-color: variables.$dark-grey;
  min-height: 100vh;
  color: variables.$light-grey;
  place-items: center;

  @include mixins.respond-to('medium') {
    text-align: center;
    min-height: 70vh;
  }
}

.work-poster {
  grid-row: poster;
  width: 400px;

  @include mixins.respond-to('medium') {
    width: 200px;
  }
}

.work-contents {
  margin-bottom: 50px;
}

.work-project {
  margin: 50px 0;
}

.work-title {
  grid-row: title;
}

.work-description {
  grid-row: description;

  @include mixins.respond-to('medium') {
    padding: 10px;
  }
}

.work-projectImage {
  max-width: 750px;

  @include mixins.respond-to('medium') {
    max-width: 250px;
  }
}