@use '../abstracts/variables' as variables;

// -----------------------------------------------------------------------------
// This file contains styles that are specific to the work pages.
// -----------------------------------------------------------------------------

.work-intro {
  display: grid;
  grid-template: [padding] 15% [title] 60px [description] 100px [poster] auto [padding] 15% / auto;
  background-color: variables.$dark-grey;
  min-height: 100vh;
  color: variables.$light-grey;
  place-items: center;
}

.work-poster {
  grid-row: poster;
  width: 400px;
}

.work-contents {
  margin-bottom: 50px;
}

.work-project {
  margin: 50px 0;
}

.work-title {
  grid-row: title;
}

.work-description {
  grid-row: description;
}

.work-projectImage {
  max-width: 750px;
}